<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/04-register">用户注册</a></p>
<table border="1" width="400">
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>邮箱</th>
        <th>操作</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{user.username}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
        <td><a href="/06-delete?id={{user.id}}">删除</a>&nbsp<a href="#">修改</a></td>
    </tr>

    {% endfor %}


</table>

</body>
</html>