<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/01-form" method="post">

    <p>姓名：<input type="text" name="uname"></p>


    <p>
        <input type="checkbox" name="hobby" value=1> 吃
        <input type="checkbox" name="hobby" value=2> 喝
        <input type="checkbox" name="hobby" value=3> 玩
        <input type="checkbox" name="hobby" value=4> 乐
    </p>

    <p>
        喜欢的国家：
        <select name="country" multiple>
            <option value="CN">中国</option>
            <option value="USA">美国</option>
            <option value="UK">英国</option>
            <option value="KR">韩国</option>
        </select>
    </p>
    <p><input type="submit"></p>


</form>

</body>
</html>