/*清除默认样式*/

body, h1, h2, h3, h4, h5, h6, p, ul, ol {

    margin: 0;
    padding: 0;
    list-style: none;
}

/*页面基础样式*/

body {
    font: 12px "微软雅黑", "黑体";
    color: #9a9a9a;

}

a {
    text-decoration: none;
    color: #9a9a9a;
}

a:hover {

    color: #64a131
}

/*页面的整体宽度和居中效果*/
#container {

    width: 990px;
    margin: 0 auto;
}

#nav {
    background: #eee;
    height: 30px;


}

/*右侧导航*/
#nav .rightNav {
    /*整体右浮，文字左浮*/
    float: right;
}

#nav .rightNav > li {
    /*不用kine-height 是因为border 也会同步变长 改用margin top来调相较于ul的上边距*/
    margin-top: 7px;
    /*整体右浮，文字左浮*/
    float: left;

    border-right: 1px solid black; /*通过边框模拟导航项之间的分隔符，只能通过边距调整垂直显示位置 不能显示line-height*/
    text-align: center;
    padding: 0 10px;/*调整和边框之间的距离*/
}

#nav .rightNav > li.lastiten { /*要拷贝是因为组合优先级由于单写 class*/
    padding-right: 0; /*不能取消所有边距 因为要跟前面的留 20px*/
    margin-right: 0; /*靠边*/
    border: none;


}

#nav .leftNav {
/*整体左浮，文字左浮*/
    float: left;
    line-height: 30px;

}

#nav .leftNav > li {
    float: left;
    text-align: center;
    padding-left: 10px;/*调整和左边的距离*/


}

/*三角标*/
#nav .leftNav > li > i {

    display: inline-block;
    width: 0;
    height: 0; /* 清掉宽度是为了 做成三角形 否则梯形*/
    border: 6px solid transparent;
    border-top: 6px solid black;
    /*调整位置 下移*/
    position: relative;
    top: 5px;

}

#banner {
    /*调整上下边距 产生空行*/
    margin: 15px 0;


}

#banner img {
    width: 990px;
    height: 207px;
    /*设定宽度是为了不管放什么图片都卡死宽度 保持页面*/


}

#commend {
    font-size: 0px; /*去掉a换行产生的空行 如果没有别的文字适用此法 要不然还要单独恢复字体大小*/
    height: 112px; /*设定宽度是为了不管放什么图片都卡死宽度 保持页面*/

}

#commend img {
   /*240*4+10*3=990*/
    width: 240px;
    margin-right: 10px;
}

#commend .lastImg {
    margin: 0

}

/*主体*/
#main {
    /*产生间隔*/
    margin: 25px 0;
}

#main > .goodsType {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 10px;

}

#main > .goodsType > p > a {
    float: right;
    color: #000;
}

/*商品信息展示*/
#main .goodsType {
    /*解决子元素全部浮动，父元素高度为0*/
    overflow: hidden;
}

#main .item {
    width: 190px;
    margin-right: 10px;
    float: left; /*整个模块左浮*/
    margin-bottom: 10px; /*每行之间有空隙*/

}

#main .item > img {
    width: 190px;
    height: 190px;

}

#main .item > a {
    /*购物车右浮*/
    float: right;
    margin: 6px 0;

}

#main .item > p {
    /*调上下宽度*/
    margin: 5px 0;
    color: #555;

}

#main .item > span {
    /*调左边距*/
    margin-left: 10px;
}

#main .no-margin {
   /*把每一行最后一个图片的10 px margin去掉要不放不下*/
    margin: 0;
    /*190*5+10*4=990*/

}

