<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div id="container">
    <!-- 导航-->
    <div id="nav">
        <!--左侧导航 -->


        <!-- 右侧导航-->
        <ul class="rightNav">
            <li>
                <a href="">[ 登录 ]</a>
                <a href="">[ 注册有惊喜 ]</a>
            </li>
            <li>
                <a href="">果园公告</a>
            </li>
            <li>
                <a href="">券卡兑换</a>
            </li>
            <li class="lastiten">
                <a href="">手机果园</a>
            </li>
        </ul>
        <!--左侧导航-->

        <ul class="leftNav">
            <li>
                <span>上海</span><i></i>

            </li>
            <li>满百包邮(环交内)</li>
            <li><a href="">星夜达</a></li>


        </ul>


    </div>

    <!-- 横幅banner-->
    <div id="banner">

        <img src="{% static 'images/banner1.jpg'%}">
    </div>
    <!-- 推荐-->
    <div id="commend">
        <a href="">
            <image src="{% static 'images/芒果.jpg'%}"/>
        </a>
        <a href="">
            <image src="{% static 'images/奇异果.jpg'%}"/>
        </a>
        <a href="">
            <image src="{% static 'images/蛇果.jpg'%}"/>
        </a>
        <a href="">
            <image class="lastImg" src="{% static 'images/红提.jpg'%}"/>
        </a>

    </div>
    <!-- 主体-->
    <div id="main">
        <!-- 主题分为若干品类，每一类结构与样式一致-->
        <div class="goodsType">
            <!--  礼品卡券中分为上下两个部分 -->
            <p>
                <img src="{% static 'images/t4.png'%}">
                <a hef="">更多</a>
            </p>

            <div class="goodInfo">
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item no-margin">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
                <div class="item no-margin">

                    <img src="{% static 'images/深情厚意.jpg'%}">
                    <a href=""><img src="{% static 'images/cart.png'%}"></a>
                    <p>深情厚意水果果篮</p>
                    <span>&yen;188.00/份</span>
                </div>
            </div>

        </div>


    </div>
    <!-- 底部-->
    <div id="footer"></div>


</div>

</body>
</html>