/*1 设置默认样式*/
body, h2, p {
    /*去掉边框并设定颜色*/
    margin: 0;
    color: #999999;

}

a {
    /*删除下划线*/
    text-decoration: none;
}

/* 2 外部容器*/
#container {
    /*设定宽度并水平居中*/
    width: 990px;
    margin: 0 auto;
}

/* 顶部标题*/
h2 {
    /*取消加粗 并设定上下边距*/
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin-bottom: 30px;

}

/*4 主体*/
#main {
    /*解决子元素浮动造成父元素高度为0*/
    overflow: hidden;
}

#main .left {
    float: left;
    /*设定这个是为了让会员注册按钮能基于left来设定偏移*/
    position: relative;
}

/*右列部分*/
#main .right {
    /*让悬浮后靠右 并调整上下左右距离*/
    float: right;
    margin-top: 8px;
    margin-right: 40px;

}

.form-line {
    /*设定两行之间的空隙 不要margin-top也设设了也是取大的*/
    margin-bottom: 30px;

}

.form-line > p {
    /*不用后代 因为第三行 div 下面还有P */
    /*display:inline-block;*/
    float: left;
    /*input会有文本环绕效果 紧贴P 通过调margin-right分开*/
    width: 64px;
    height: 40px;
    /*右对齐*/
    text-align: right;
    line-height: 40px;
    /*和输入框分开*/
    margin-right: 40px;

}

.form-line > .uinput {
    /*修改元素盒模型计算方式 让总体高度就是40px 使得和P大小一致*/
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    /*文本框默认字体大小为13.3 需要调整成一致*/
    outline: none;
}

/*第三行*/
.form-line > div > p {
    float: right; /*右浮使得水平排列 因为左边inout可以环绕显示*/

}

.form-line .isSave {
    width: 18px;
    height: 18px;
    /*设定成18 是因为考虑到链接的加上边框也是 18px 好看一点*/
    vertical-align: middle; /*比bottom 好点*/

}

.form-line > div > p > a {
    color: #999999;

}

.form-line .btn {
    width: 140px;
    height: 40px;
    border: 1px solid #64a131;
    border-radius: 5px;


}

.loginBtn {
    background: #64a131;
    color: #ffffff;
    font-size: 20px;

}

.registBtn {
    /*靠右排*/
    text-align: center;
    line-height: 40px;
    /*使得整体宽度保持在40px跟登录一致 因为有1像素的边框 加边框是为了模拟按钮*/
    box-sizing: border-box;
    /*因为是通过链接模拟的按钮 需要悬浮起来设定宽高*/
    float: right;
    color: #64a131;
    background: #fff;

}

.left a {
    position: absolute;
    right: 173px;
    bottom: 20px;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #64a131;
+ border-radius: 5 px;
    color: #64a131;
    font-size: 20px;

}