<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    <a href="/05-get?name=bobo&age=40">去往
        /05-get
    </a>

</h2>


<h2>scheme:{{params.scheme}}</h2>
<h2>method:{{params.method}}</h2>
<h2>args:{{params.args}}</h2>
<h2>form:{{params.form}}</h2>
<h2>cookies:{{params.cookies}}</h2>
<h2>file:{{params.files}}</h2>
<h2>path:{{params.path}}</h2>
<h2>full_path:{{params.full_path}}</h2>
<h2>url:{{params.url}}</h2>
<h2>refer:{{params.refer}}</h2>
<h2>headers:{{params.header}}</h2>
<h2><a href="{{params.referer}}">返回</a></h2>


</body>
</html>